/* COLORS */

$pMidnightGreen: #014E56;
$pLightCoral: #F67E7E;
$pWhite: #FFFFFF;

$sRaptureBlue: #79C8C7;
$sPoliceBlue: #2C6269;
$sDeepJungleGreen: #004047;
$sSacramentoStateGreen: #012F34;
$sDarkGreen: #002529;

/* TYPOGRAPHY */

$fontFamily: "Livvic", sans-serif;
$fontWeightBold: '700';
$fontWeightSemiBold: '600';

$h1LargeSize: 100px;
$h1LargeLine: 100px;

$h1SmallSize: 64px;
$h1SmallLine: 56px;

$h2Size: 48px;
$h2Line: 48px;

$h3Size: 18px;
$h3Line: 28px;

$bodySize: 18px;
$bodyLine: 28px;

$lightBodySize: 15px;
$lightBodyLine: 25px;